@media only screen and (min-width: 993px){
    .home1{
        background: linear-gradient(180deg, #FFFFFF 24.36%, #F7F7F7 93.67%);
        min-height: 400px;
        min-width: 993px;
        width: 100%;

    }
    
    .passion{
        width: 800px;
        padding-top: 30px;
    }
    
    .row{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        box-sizing: border-box;
    }

    .flex1{
        display: flex;
        /* flex-direction: column; */
    }

    .flexx1{
        display: flex;
    }

    .flexx{
        display: flex;
    }
    
    .flex2{
        display: flex;
    }
    
    .img1{
        height: 200px;
        width: 200px;
        border-radius: 50px;
        margin-left: 50px;
    }
    
    h4 {
        font-size: 2.28rem;
        line-height: 110%;
        margin: 1.52rem 0 0.912rem 0;
        color: rgba(0,0,0,0.87);
    }
    
    .pt5{
        padding-top: 30px;
    }
    .aboutme{
        margin-top: 50px;
    }
    
    .delay{
        transition-delay: 2s;
    }
    
    
    .section2{
        height: 1400px;
        min-width: 980px;
        width: 100%;
        outline: none;
        /* height: 2000px; */
    }
    
    .works{
        /* background-color: goldenrod; */
        height: 400px;
        margin: auto;
     }
    
     .projectcard{
        height: 26rem;
        min-width:100px;
        width: 65%;
     }
    
     .mt{
        margin-top: 35px;
     }
    
     .mb{
        margin-bottom: 600px;
     }
    
     .m1{
        margin-left: 2%;
     }
    
     .m2{
        margin-left: 10px;
     }
    
    .textAlign{
        text-align: center;
    }
    
    .section3{
        height: 600px;
    }
    
    .divcontact{
        height: 480px;
        width: 900px;
        background-color: white;
        margin: auto;
    }
    
    .divh5{
        font-size: 2.28rem;
        line-height: 110%;
    }
    
    .contact1{
       /* background-color: wheat; */
       height: 220px;
       width: 450px;
       margin-left: 100px;
    }
    
    .contactme{
        margin-top: 70px;
        margin-left: 40px;
     }
    
    .img2{
        height: 250px;
    }

    .imgtop1{
        height: 75%;
    }
    
    footer{
        background: #033953;
        /* padding-bottom: 30px; */
        height: 220px;
    }
    
    .footercontainer{
        /* background-color: blueviolet; */
        height: 150px;
        width: 85%;
        margin: auto;
    }
    
    .connectme{
        margin-left: 235px;
    }
    
    .mt5{
        margin-top: 25px;
    }
    
    .rightReserved{
       padding-left: 7.2%;
    }
    
    .scrollToTop{
        margin-left: 70% ;
    }
    
    .scrollUp{
        width: 20px;
    }
}

@media only screen  and (max-width:995px){
    home1{
        background: linear-gradient(180deg, #FFFFFF 24.36%, #F7F7F7 93.67%);
        min-height: 400px;
    }
    
    .passion{
        width: 700px;
        padding-top: 30px;
    }
    
    .row{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        box-sizing: border-box;
    }

    .pt5{
        padding-top: 30px;
    }

    .flex1{
        display: flex;
    }

    .img1{
        height: 200px;
        width: 200px;
        border-radius: 50px;
        margin-left: 110px;
    }

    
    .imgtop1{
        height: 75%;
    }

    .imgpadding{
        margin-top: 40px;
    }

    .flexx1{
        flex-direction: column;
    }

    .projectcard{
        height: 400px;
        width: 85%;
        max-width: 835px;
     }

    .textAlign{
        text-align: center;
    }

    .mt{
        margin-top: 20px;
     }
    
     .mb{
        margin-bottom: 40px;
     }
    
     .m1{
        margin-left: 8%;
     }
    
     .m2{
        margin-left: 8%;
        margin-top: 20px;
     }

     .section3{
        height: 650px;
    }
    
    .divcontact{
        /* background: green; */
        height: 630px;
        max-width: 980px;
        width: 85%;
        margin: auto;
    }
    .flex1{
        flex-direction: column;
    }
    
    .divh5{
        font-size: 2.28rem;
        line-height: 110%;
    }
    
    .contact1{
       /* background-color: wheat; */
       height: 220px;
       width: 450px;
       margin-left: 100px;
    }
    
    .contactme{
        margin-top: 70px;
        margin-left: 20%;
     }
    
    .img2{
        height: 230px;
        margin-left: 35%;
    }
    
    footer{
        background: #033953;
        /* padding-bottom: 30px; */
        height: 260px;
    }
    
    .footercontainer{
        /* background-color: blueviolet; */
        height: 170px;
        width: 85%;
        margin-left: 9%;
    }

    .flexx{
        flex-direction: column;
    }

    .connectme{
        margin-top: 10px;
    }
    
    .mt5{
        margin-top: 15px;
    }
    
    .rightReserved{
       padding-top: 20px;
       padding-left: 9%;
    }
    
    
    .scrollToTop{
        /* margin-left: 70% ; */
        position: fixed;
        background-color: #033953;
        margin-left: 55% ;
        bottom: 20px;
        width: 50px;
        right: 20px;
        font-size: 20px;
        height: 50px;
        outline: none;
        border-radius: 50%;
    }

    .flex2{
        display: flex;
    }
    
    .scrollUp{
        width: 20px;
    } 
}


        /* 769px — 1024px: Small screens, laptops */
@media only screen  and (max-width:992px){
    home1{
        background: linear-gradient(180deg, #FFFFFF 24.36%, #F7F7F7 93.67%);
        min-height: 400px;
    }
    
    .passion{
        width: 700px;
        padding-top: 30px;
    }
    
    .row{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        box-sizing: border-box;
    }

    .pt5{
        padding-top: 30px;
    }

    .flex1{
        display: flex;
    }

    .img1{
        height: 200px;
        width: 200px;
        border-radius: 50px;
        margin-left: 110px;
    }

    
    .imgtop1{
        height: 75%;
    }

    .imgpadding{
        margin-top: 40px;
    }

    .flexx1{
        flex-direction: column;
    }

    .projectcard{
        height: 400px;
        width: 85%;
        max-width: 835px;
     }

    .textAlign{
        text-align: center;
    }

    .mt{
        margin-top: 20px;
     }
    
     .mb{
        margin-bottom: 40px;
     }
    
     .m1{
        margin-left: 8%;
     }
    
     .m2{
        margin-left: 8%;
        margin-top: 20px;
     }

     .section3{
        height: 650px;
    }
    
    .divcontact{
        /* background: green; */
        height: 630px;
        max-width: 980px;
        width: 85%;
        margin: auto;
    }
    .flex1{
        flex-direction: column;
    }
    
    .divh5{
        font-size: 2.28rem;
        line-height: 110%;
    }
    
    .contact1{
       /* background-color: wheat; */
       height: 220px;
       width: 450px;
       margin-left: 100px;
    }
    
    .contactme{
        margin-top: 70px;
        margin-left: 20%;
     }
    
    .img2{
        height: 230px;
        margin-left: 35%;
    }
    
    footer{
        background: #033953;
        /* padding-bottom: 30px; */
        height: 260px;
    }
    
    .footercontainer{
        /* background-color: blueviolet; */
        height: 170px;
        width: 85%;
        margin-left: 9%;
    }

    .flexx{
        flex-direction: column;
    }

    .connectme{
        margin-top: 10px;
    }
    
    .mt5{
        margin-top: 15px;
    }
    
    .rightReserved{
       padding-top: 20px;
       padding-left: 9%;
    }
    
    
    .scrollToTop{
        /* margin-left: 70% ; */
        position: fixed;
        background-color: #033953;
        margin-left: 55% ;
        bottom: 20px;
        width: 50px;
        right: 20px;
        font-size: 20px;
        height: 50px;
        outline: none;
        border-radius: 50%;
    }

    .flex2{
        display: flex;
    }
    
    .scrollUp{
        width: 20px;
    } 
}







        /* 481px — 768px: iPads, Tablets */
@media only screen and (max-width: 768px) {
    home1{
        background: linear-gradient(180deg, #FFFFFF 24.36%, #F7F7F7 93.67%);
        min-height: 400px;
    }
    
    .passion{
        width: 400px;
        padding-top: 30px;
    }

    .flex1{
        flex-direction: column;
    }
    
    .row{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        box-sizing: border-box;
    }

    .pt5{
        padding-top: 30px;
    }

    .flex1{
        display: flex;
    }

    .img1{
        height: 200px;
        width: 200px;
        border-radius: 50px;
        margin-top: 30px;
    }

    .imgtop1{
        height: 75%;
    }

    .section2{
        /* background: linear-gradient(180deg, #FFFFFF 24.36%, #F7F7F7 93.67%); */
        /* background-color: rebeccapurple; */
        outline: none;
        max-width: 768px;
    }
    
     .projectcard{
        height: 400px;
        width: 85%;
        max-width: 635px;
     }
    
     .mt{
        margin-top: 20px;
     }
    
     .mb{
        margin-bottom: 40px;
     }
    
     .m1{
        margin-left: 8%;
        /* margin-top: 5px; */
     }
    
     .m2{
        margin-left: 8%;
        margin-top: 20px;
     }
    
    .textAlign{
        text-align: center;
    }

    .section3{
        height: 600px;
        min-width: 360px;
    }
    
    .divcontact{
        /* background-color: blue; */
        min-width: 330px;;
        height: 580px;
        /* padding-left: 3%; */
        /* background-color: white; */
       
    }

    
    .divh5{
        font-size: 1.6rem;
        line-height: 60%;
    }

    .contact1{
        /* background-color: wheat; */
        height: 220px;
        width: 220px;
        margin-left: 23%;
     }
     
     .contactme{
         margin-top: 20px;
         margin-left: 9%
      }

      .img2{
        height: 240px;
        margin-left: 30%;
    }

    footer{
        background: #033953;
        /* padding-bottom: 30px; */
        height: 260px;
    }
    
    .footercontainer{
        /* background-color: blueviolet; */
        height: 190px;
        width: 75%;
        margin-left: 9%;
        /* margin-top: 2%; */
    }
    
    .connectme{
        margin-top: 15px;
    }
    
    .mt5{
        margin-top: 18px;
    }
    
    .rightReserved{
       padding-top: 20px;
       padding-left: 9%;
    }
    
    .flexx{
        flex-direction: column;
    }
    .flex2{
        display: flex;
    }

    .scrollToTop{
        position: fixed;
        background-color: #033953;
        margin-left: 55% ;
        bottom: 20px;
        width: 50px;
        right: 20px;
        font-size: 20px;
        height: 50px;
        outline: none;
        border-radius: 50%;
    
    }
    
    .scrollUp{
        width: 20px;
    }
}




@media only screen and (max-width: 480px) {
    
* :after, :before {
    box-sizing: border-box;
}

    .home1{
        background: linear-gradient(180deg, #FFFFFF 24.36%, #F7F7F7 93.67%);
        height: 700px;
    }

   .flex1{
    display: flex;
    flex-direction: column;
   }
    
   .passion{
    width: 85%;
    padding-top: 30px;
   }

   .pt5{
    padding-top: 5px;
}

   .section2{
    /* background: linear-gradient(180deg, #FFFFFF 24.36%, #F7F7F7 93.67%); */
    outline: none;
    /* width: 480px; */
    margin-bottom: 30px;
    /* background-color: green; */
    height: 3850px;

    }
    /* .c1{
        margin-left: 5px;
    } */


    .img1{
        /* height: 200px;
        width: 200px;
        border-radius: 50px; */
        margin-left: 35px; 
    }

    .imgpadding{
        margin-top: 40px;
    }
    .projectcontainer{
        box-sizing: border-box;
    }

    .projectcard{
        height: 27rem;
        width: 350px;
        margin-left:30px
     }

     .m1{
        margin-top: 5px;
     }
    
     .m2{
        margin-top: 40px;
     }

     .textAlign{
        text-align: center;
    }

    .divcontact{
        height: 800px;
        width: 100%;
        background-color: white;
        /* margin: auto; */
    }

    .section3{
        height: 800px;
        width: 80%;
    }

    .contact1{
        /* background-color: wheat; */
        height: 220px;
        width: 300px;
        margin-left: auto;
     }

    .contactme{
        margin-top: 70px;
       margin-left: 10px;
     }

     footer{
        background: #033953;
        /* padding-bottom: 30px; */
        height: 290px;
        margin-top: 50px;
    }

    .flex2{
        display: flex;
    }

    .scrollToTop{
        position: fixed;
        background-color: #033953;
        margin-left: 25% ;
        bottom: 20px;
        width: 50px;
        right: 20px;
        font-size: 20px;
        height: 50px;
        outline: none;
        border-radius: 50%;
    
    }
    
    .scrollUp{
        width: 20px;
    }

  }

  