.home1{
    background: linear-gradient(180deg, #FFFFFF 24.36%, #F7F7F7 93.67%);
    min-height: 400px;
}

.passion{
    width: 800px;
    padding-top: 30px;
}

.row{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.flex1{
    display: flex;
    /* flex-direction: column; */
}

.img1{
    height: 200px;
    width: 200px;
    border-radius: 50px;
    margin-left: 50px;
}

h4 {
    font-size: 2.28rem;
    line-height: 110%;
    margin: 1.52rem 0 0.912rem 0;
    color: rgba(0,0,0,0.87);
}

.delay{
    transition-delay: 2s;
}


.section2{
    background: linear-gradient(rgb(255, 255, 255) 14.36%, rgb(237, 222, 247) 74.67%);
    outline: none;
}

.textAlign{
    text-align: center;
}

.transition1{
    transition-delay: 3s;
}

.section3{
    height: 600px;
}

.divcontact{
    height: 480px;
    width: 900px;
    background-color: whitesmoke;
    margin: auto;
}

.divh5{
    font-size: 2.28rem;
    line-height: 110%;
}

.contact1{
   background-color: wheat;
   height: 200px;
   width: 400px;
   margin-left: 100px;
}

.img2{
    height: 250px;
}

footer{
    background: #033953;
    padding-bottom: 30px;
    height: 210px;
}



@media only screen and (max-width: 993px) {
   .flex1{
    display: flex;
    flex-direction: column;
   }
    
  }

  