* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media only screen and (min-width: 1025px) {
 
    .bg{
        background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../pics/port1.png');
        min-height: 500px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
    
    .nav1{
        height: 100px;
    }

    .navButton{
        margin-left: 150px;
    }

    .logomargin{
        margin-left: 15%;
    }

    .navpadding{
        padding-left: 230px;
    }
    
    .navmargin{
        margin-left: 300px;
    }
    
  }


  @media only screen  and (max-width:1024px){
    .bg{
        background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../pics/port1.png');
        min-height: 500px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
    
    .nav1{
        height: 100px;
    }

    .navButton{
        margin-left: 140px;
    }


    .logomargin{
        margin-left: 100px;
    }

    .navpadding{
        padding-left: 150px;
    }
  }


  @media only screen  and (max-width:768px){
    .logomargin{
        margin-left: 10%;
    }
    .navButton{
        margin-left: 40px;
    }
  }

  
  @media screen and (max-width: 480px){
  

    .bg{
        background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../pics/port1.png');
        height: 500px;
        background-size: cover;
        /* background-position: center; */
        background-repeat: no-repeat;
        width: 414px;
    }

    .logomargin{
        margin-left: 20px;
    }

    .navButton{
        margin-left: 10px;
    }
  }



