.bg{
    background: url('../pics/port1.png');
    min-height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav1{
    height: 100px;
}

.logomargin{
    margin-left: 50px;
}

.navmargin{
    margin-left: 300px;
}




@media only screen and (max-width: 600px) {
    .nav1{
        /* height: 5px; */
        width: 100%;
    }
    
  }