* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media only screen and (min-width: 993px) {
 
    .bg{
        background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../pics/port1.png');
        min-height: 500px;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
    
    .nav1{
        height: 100px;
    }

    .logomargin{
        margin-left: 280px;
    }

    .navpadding{
        padding-left: 300px;
    }
    
    .navmargin{
        margin-left: 300px;
    }
    
  }





  
  @media screen and (max-width: 992px){
  

    .bg{
        background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../pics/port1.png');
        height: 500px;
        background-repeat: no-repeat;
        width: 100;
        background-size: auto;
    }

    .logomargin{
        margin-left: 20px;
    }
  }



